Source: cspot
Section: misc
Priority: optional
Maintainer: Rich Wolski <rich@cs.ucsb.edu>
Standards-Version: 4.6.2
Build-Depends:
 debhelper-compat (= 13),
 cmake,
 libssl-dev,
 libyaml-dev,
 build-essential
Homepage: https://github.com/MAYHEM-Lab/cspot

Package: cspot
Architecture: arm64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: CSPOT platform of things
 A platform for distributed sensing, control, and event processing.
