Source: cspot
Section: misc
Priority: optional
Maintainer: rich@cs.ucsb.edu
Build-depends: debhelper-compat (= 13), cmake, libssl-dev, libyaml-dev
Package: cspot-pkg
Architecture: arm64
Description: CSPOT platform of things
